@import './variables.scss';

.close {
  display: none;
}
.open {
  display: block;
}
.desktop {
  display: none;
}
header {
  position: absolute;
  width: 100%;
  .menuButton {
    margin: 1rem 0 0 1rem;
    color: $blue;
    font-size: 30px;
  }

  ul {
    animation: fadeIn 0.3s ease-in-out;
    width: 100%;
    li{
      list-style: none;
      margin: 1rem 0;
      border-bottom: 1px solid $blue;
      a {
        color: $blue;
        text-decoration: none;
        span {
          font-weight: 200;
        }
      }
    }
  }
}
