@import './variables.scss';

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $yellow;
  .content {
    width: 100%;
    max-width: 1200px;
  }
}
.skillList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .skill {
    margin: 2rem;
    width: 40px;
  }
}
@media (min-width: 769px) {
  .content {
    margin-bottom: 2rem;
  }
}
